@mixin deegres-circle($color, $background){
    color: $color;
    background-color: $background;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-weight: 900;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}