//FONTS
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
// raleway
$raleway:'Raleway', sans-serif;


//COLORS
// blue
$dark-blue: #100E1D;
$blue: #1E213A;
// white
$white: #fff;
// grey
$grey: #6E707A;
$ligth-grey: #E7E7EB;
$grey-blue:#585676;

