@import './variables';
@import './functions';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $raleway;
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.container{
    display: flex;
    height: 1023px;
    .aside{
        width: 35%;
        height: auto;
        background-color: $blue;
        .information{
            font-size: 18px;
            color: $aside-grey;
            display: flex;
            align-items: center;
            flex-direction: column;
            &__weather{
                font-size: 36px !important;
                font-weight: bold;
                margin-bottom: 82px;
            }
            &__day{
                font-size: 90px;
                padding-bottom:87px;
                color: $white;
                font-weight: bold;
                .degree__type{
                    color: $aside-grey;
                    font-size: 40px;
                }
            }
            i{
                padding-right: 9px;
            }
            p{
                font-weight: 600;
            }
        }
        .weatherImg{
            padding: 90px 0px;
            text-align: center;
            .time__today{
                width: 202px;
                height: 234px;
                animation: float 6s ease-in-out infinite;
            }
        }
    }
    .button{
        display: flex;
        justify-content: space-between;
        padding: 42px;
        &__search{
            background-color: $grey;
            border: 1px solid $grey;
            width: 161px;
            height: 40px;
            color: $ligth-grey;
            font-size: 16px;
            font-weight: 700;
        }
        &__search:hover{
            background-color: $white;
            border: 1px solid $white;
            color: $dark-blue !important;
        }
        &__circle{
            border-radius: 50%;
            background-color: $grey;
            height: 40px;
            width: 40px;
        }
    }
    .main{
        color: $white;
        padding: 42px 123px 25px 154px;
        background-color: $dark-blue;
        width: 70%;
        .tittle{
            margin-left: 12%;
        }
        .degrees{
            display: flex;
            justify-content: flex-end;
            &__f{
                @include deegres-circle($dark-blue !important, $ligth-grey);
            }
            &__c{
                @include deegres-circle($white, $grey-blue);
                margin-right: 12px;
            }
        }
        .weather{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            &__day{
                background-color: $blue;
                width: 120px;
                height: 177px;
                margin: 66px 26px 72px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                &--tomorrow{
                    font-weight: bold;
                }
                &--img{
                    width: 56.44px;
                    height: 62px;
                }
            }
            &__day:hover{
                background-color: $white;
                color: $dark-blue !important;
                animation: float 6s ease-in-out infinite;
            }
        }
        .hightlights{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            &__container{
                display: flex;
                padding: 48px 0px 48px 0px;
                .container__up{
                    width: 328px;
                    height: 159px;
                    background-color: $blue;
                    margin-right: 48px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column; 
                    justify-content: center;
                    .values{
                        display: flex;
                    }
                }
                .container__down{
                    width: 328px;
                    height: 159px;
                    background-color: $blue;
                    margin-right: 48px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column; 
                    .values{
                        display: flex;
                    }
                }
            }
        }
    }
}